.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.post li,
.post button {
  list-style: none;
  margin-bottom: 1em;
}

.post-contents {
  font-size: 1.3em;
}

.post-fromto {
  font-size: 0.5em;
}
