.post {
  background-color: #ffffff;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 16px 16px 0 16px;
  width: 100%;
}

.post-main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.post-footer {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}

.post-thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.post-thumbnail-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0.1px solid #a9a9a9;
  vertical-align: middle;
  margin-right: 1rem;
  display: inline-block;
}

.post-thumbnail-name {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.thumb {
  display: flex;
  align-items: center;
}

.thumb > svg {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}

.thumb > svg > g {
  fill: #ff9a2e;
  stroke: #ff9a2e;
}

.post-contents {
  flex-grow: 1;
  font-size: 0.9rem;
  padding: 1.5rem;
}

.post-coin {
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-coin > svg {
  height: 16px;
  width: 16px;
}

.post-empathy {
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-empathyCount {
  width: 20px;
}

.post-empathyButton {
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  width: 2rem;
}

.post-empathyButton > svg {
  height: 16px;
  width: 16px;
}

.st0 {
  fill: #f3d2c1;
}

.post-icon-clicked .st0,
.post-icon-boo1 .st0,
.post-icon-boo2 .st0 {
  fill: #f582ae;
}

.post-empathyButton:focus {
  outline: none;
}

.post-icon-clicked {
  animation: empathy ease-out 0.5s;
}

.post-icon-boo1 {
  animation: boo1 ease-out 0.5s 1;
}

.post-icon-boo2 {
  animation: boo2 ease-out 0.5s 1;
}

@keyframes empathy {
  0% {
    transform: scale(0.4, 0.4);
  }

  40% {
    transform: scale(1.2, 1.2);
    transform: translateY(-10%);
  }

  60% {
    transform: scale(1, 1);
    transform: translateY(0);
  }

  80% {
    transform: scale(1.1, 1.1);
    transform: translateY(-5%);
  }

  100% {
    transform: scale(1, 1);
    transform: translateY(0);
  }
}

@keyframes boo1 {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5%);
  }

  40% {
    transform: translateX(5%);
  }

  60% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes boo2 {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5%);
  }

  40% {
    transform: translateX(5%);
  }

  60% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}
