.profile {
  align-items: center;
  border: 2px solid #a9a9a9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
}

.profile-imageFrame {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 110px;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 110px;
}

.profile-image {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
}

.profile-name {
  margin-bottom: 0.5rem;
}

.profile-department {
  margin-bottom: 0.5rem;
}
