.sender {
  align-items: center;
  border: 2px solid #a9a9a9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 1rem;
  width: 100%;
}

.sender input,
.sender textarea {
  background-color: #faebd7;
  border: none;
  box-shadow: none;
  padding: 0.5rem;
  font-size: 0.7rem;
  font-family: inherit;
}

.sender-to {
  width: 100%;
}

.sender-coin {
  margin-bottom: 0.5rem;
  width: 100%;
}

.sender-contents {
  height: 5rem;
  margin-bottom: 0.5rem;
  resize: none;
  width: 100%;
}

.sender-button {
  background-color: #ca5010;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}

.sender-button > svg {
  height: 20px;
  margin-left: 0.5rem;
  width: 20px;
}

.sender-button:hover {
  box-shadow: 1px 1px 1px 0 rgba(0, 23, 88, 0.233);
}

.sender-button .st0 {
  fill: #001858;
}

.error {
  color: red;
}
