.sender {
  display: flex;
  flex-direction: column;
}

.sender-to {
  margin-bottom: 0.5em;
  width: 100%;
}

.sender-coin {
  margin-bottom: 0.5em;
  width: 50%;
}

.sender-contents {
  height: 5em;
  margin-bottom: 0.5em;
  width: 100%;
}
