header {
  margin-bottom: 1em;
  width: 100%;
}

#main {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

#posts {
  flex-basis: auto;
  margin-right: 1em;
  width: 100%;
}

#post-form {
  flex-basis: 200px;
  margin: 0 1em;
}
