body {
  background-color: #fef6e4;
}

body,
input {
  color: #001858;
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ',
    'Meiryo', 'verdana', sans-serif;
  font-size: 62.5%;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.header {
  align-items: center;
  background-color: #001858;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  height: 50px;
  width: 100vw;
}

.header > svg {
  height: 25px;
  margin-left: 1rem;
  width: 25px;
}

.header > h1 {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.main-contents {
  background-color: #f3d2c1;
  max-width: 640px;
  min-height: 100vh;
  padding: 16px;
  width: 100%;
}

.main-sidemenu {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: 200px;
}

@media screen and (max-width: 900px) {
  .main-sidemenu {
    display: none;
  }
}
