.header {
  align-items: center;
  background-color: #8bd3dd;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  height: 50px;
  width: 100vw;
}

.header > svg {
  height: 25px;
  margin-left: 1rem;
  width: 25px;
}

.header > h1 {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.header > h2 {
  font-size: 1.2rem;
  margin-left: 1rem;
}
